/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

/* ==================== *\
    Basic Styles
/* ==================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 10px */
  scroll-behavior: smooth;
}

body {
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #333;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

/* ==================== *\
    Hero
/* ==================== */

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgb(0, 0, 0, 0.6)),
    url("images/hero_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 5rem;
  position: relative;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-family: "Playfair Display", serif;
}

.heading-primary {
  margin-bottom: 1.5rem;
  font-size: 11rem;
  color: #fff;
}

.hero-description {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
}

.btn {
  padding: 1.25rem 2.5rem;
  font-size: 1.8rem;
  border: none;
  background-color: #8b0000;
  color: #fff;
  margin-top: 4rem;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

.btn:hover {
  background-color: #610000;
}

.photo-credit {
  color: rgba(255, 255, 255, 1);
  font-size: 1.6rem;
  margin-top: 2rem;
  font-style: italic;
  position: absolute;
  bottom: 2rem;
  left: 4rem;
}

.photo-credit a:link,
.photo-credit a:visited {
  color: #dcb3b3;
  font-weight: bold;
  letter-spacing: 1px;
}

.photo-credit a:hover,
.photo-credit a:active {
  color: #f3e6e6;
}

/* ==================== *\
    Activities
/* ==================== */

.activities {
  padding: 8rem 2rem;
  max-width: 144rem;
  margin: 0 auto;
}

.activities-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
}

.activities-img {
  width: 40rem;
  object-fit: cover;
  height: 30rem;
}

.heading-container {
  margin-bottom: 8rem;
}

.heading-secondary {
  font-size: 4rem;
  color: #8b0000;
}

.heading-tertiary {
  font-size: 2.3rem;
  letter-spacing: 1px;
  font-weight: 700;
}

.activity {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 60rem;
}

.activity-text {
  padding: 2rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-grow: 1;
}

.photo-credit-activity {
  font-size: 1.2rem;
  text-align: right;
  font-weight: 600;
  margin-top: auto;
}

.photo-credit-activity a:link,
.photo-credit-activity a:visited {
  color: #8b0000;
  letter-spacing: 1px;
}

.photo-credit-activity a:hover,
.photo-credit-activity a:active {
  text-decoration: none;
}

.strong-text-color {
  color: #8b0000;
}

.back-to-top {
  text-decoration: none;
  font-size: 4rem;
  background-color: #8b0000;
  width: 6rem;
  height: 6rem;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 3rem;
  right: 5rem;
}

.back-to-top:hover {
  background-color: #610000;
}
