/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

/* ==================== *\
    Basic Styles
/* ==================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 10px */
}

body {
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 2rem;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

/* ==================== *\
    Hero
/* ==================== */

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgb(0, 0, 0, 0.6)),
    url("images/hero_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 5rem;
  position: relative;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-family: "Playfair Display", serif;
}

.heading-primary {
  margin-bottom: 1.5rem;
  font-size: 11rem;
  color: #fff;
}

.hero-description {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
}

.btn {
  padding: 1.25rem 2.5rem;
  font-size: 1.8rem;
  border: none;
  background-color: #8b0000;
  color: #fff;
  margin-top: 4rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #610000;
}

.photo-credit {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.6rem;
  margin-top: 2rem;
  font-style: italic;
  position: absolute;
  bottom: 2rem;
  left: 4rem;
}

.photo-credit a:link,
.photo-credit a:visited {
  color: #dcb3b3;
}

.photo-credit a:hover,
.photo-credit a:active {
  color: #f3e6e6;
}

/* ==================== *\
    Activities
/* ==================== */
